body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
	font-family: 'Times New Roman', Times, serif;
}

.container {
	max-width: 500px;
	margin: auto;
	background: white;
	padding: 50px;
	padding-top: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
	color: #2360ba;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	margin-top: 30px;
	text-align: center;
}

.form-group {
	display: flex;
	margin-top: 15px;
	align-items: center;
}

label {
	width: 150px;
	margin-right: 10px;
	text-align: right;
	font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	flex: 1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	min-width: 200px;
}

button {
	width: 20%;
	padding: 10px;
	background-color: #2360ba;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 20px auto 0;
	display: block;
}

button:hover {
	background-color: #194280;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

a {
	display: block;
	text-align: center;
	margin-top: 10px;
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}